<h1>Team<h1>
	
<p>The team consists of one person - Me. Tony Esposito. I am doing this project because coding is the new literacy, and I want to form a basic understanding of coding concepts. I heard the Ruby on Rails was a great program to learn, so I purchased this course back in 2013. Due to a large workload and other time constraints, I'm only getting around to competing it now in 2015 and look forward to finishing this first project.</p>